/* Estilos do Header e Menu */
.header {
    position: sticky;
    top: 0px;
    z-index: 1;
}

.header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    background-color: #ffffff;

}

.header h1 {
    font-size: 21.328px;
    font-weight: 700;
    transition: 0.3s;
}

.header a:hover h1 {
    color: var(--cor-menu-ativo);
}

.header nav ul {
    display: flex;
    justify-content: space-between;
}

.header nav ul li a {
    font-weight: 400;
    padding: 30px;
    border-radius: 50px;
    transition: 0.3s;
}

.header nav ul li a:hover {
    color: var(--cor-menu-ativo);
    text-decoration: underline;
}

/* Estilos do Menu Hamburguer */
.header .menu-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    align-self: flex-end;
}

.header .menu {
    display: flex;
    flex-direction: column;
}

.header .hamburguer {
    background-color: #000;
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.header .hamburguer:before,
.header .hamburguer:after {
    background-color: #000;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.2s ease-in-out;
}

.header .hamburguer:before {
    top: -10px;
}

.header .hamburguer:after {
    bottom: -10px;
}

.header .hamburguer.open {
    transform: rotate(45deg);
}

.header .hamburguer.open:before {
    transform: rotate(90deg);
    top: 0;
}

.header .hamburguer.open:after {
    transform: rotate(90deg);
    top: 0;
}

/* Media Query para o menu hamburguer */
@media (max-width: 900px) {

.header {
    width: 100vw;
}
    .header .menu-button {
        display: block;
    }

    .header nav ul {
        display: none;
    }

    .header nav ul.open {
        display: block;
    }

    .header nav {
        position: absolute;
        top: 8px;
        right: 20px;
        z-index: 1;
    }

    .header nav ul {
        width: 200px;
        background-color: #fff;
        padding: 20px;
    }

    .header nav ul a {
        text-align: center;
        padding: 20px;
        display: block;
    }
}