/* Estilos da Seção Home */
.home {
    grid-area: home;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
}

.home p {
    font-size: 28.83px;
}

.home span {
    font-size: 36.49px;
    font-weight: 700;
}

.home img {
    width: 35%;
}

.home .social {
    display: flex;
    flex-direction: column;
}

.home .social .social-sobre {
    margin: 40px 0;
}

.home .social .social-sobre a {
    border-radius: 50px;
    padding: 10px 30px;
    border-style: solid;
    font-size: 20.25px;
}

.home .social .social-sobre a:hover {
    color: var(--cor-ativo);
    background-color: var(--cor-bg-ativo);
}

.home .social .icone-social {
    display: flex;
    justify-content: center;
    font-size: 28.83px;
}

.home .social .icone-social a {
    margin: 10px;
}

.home:after {

    height: 35px;
    bottom: 40px;
    right: 600px;
    position: absolute;

}

@media (max-width: 900px) {


    .home {
        width: 900px;
        justify-content: center;
        align-items: center;
    }

    .home img {
        display: none;
    }
}