/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}


:root {
    --cor-padrao: #000000;
    --background: #FFFFFF;
    --cor-ativo: #ffffff;
    --cor-menu-ativo: #333333;
    --cor-bg-ativo: #333333;
    --max-width-size: 1920px;
}


html {
    color: var(--cor-padrao);
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 5em;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif; 
}

main {
    display: grid;
    grid-template-areas:
        "header"
        "home"
        "sobre"
        "projetos"
        "footer";
    grid-template-columns: 1fr;
    font-size: 16px;
    font-weight: 400;
    margin: 0 60px;
    width: 1200px;
}
